html {
  font-family: 'Inter', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  padding: 16px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ccc;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a:active {
  background-color: #ccc;
}

.navbar a {
  transition: background-color 0.2s ease-in-out;
}

.subbody {
  width: 1280px;
  margin: 0px auto;
}
