html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  margin: 5px 0px;
}

h3 {
  font-size: 22px;
  margin: 0px;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

/* .drop-down {
  font-color: #FFFFFF;
} */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.9);
  padding: 10px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a {
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar a:active {
  background-color: #ccc;
}

.navbar a {
  transition: 0.2s ease-in-out;
}

.subbody {
  width: 1280px;
  margin: 0px auto;
}

.navbar .subbody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .subbody > div:nth-child(2) {
  display: flex;
}

.navbar .subbody > div:nth-child(2) > a {
  color: #FFFFFF;
}

.navbar .subbody > div:nth-child(2) > a:hover {
  color: #EF5F43;
}

.navbar .subbody > div:nth-child(3) {
  background-color: #A0C814;
  color: #121212;
  padding: 0.9em 2em;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  font-kerning: none;
}

.navbar .subbody > div:nth-child(3):hover {
  background-color: #EF5F43;
  color: #FFFFFF;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

section {
  padding-top: 84px;
  background-color: #f5f5f5;
}

#headerimg {
  width: 100%;
}

#whoarewe-section {
  padding: 100px 0px;
  width: 1280px;
  margin: 0px auto;
  height: 550px;
}

#whoarewe-section > div:first-child {
  display: flex;
  gap: 80px;
  position: absolute;
  width: 1280px;
}

.whoarewe-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
}

.container {
  width: fit-content;
}

.container > div:first-child {
  display: block;
  margin-top: 6.7em;
  height: 350px;
  width: 350px;
  background-color: #A0C814;
  position: absolute;
}

#whoarewe-img {
  width: 588px;
  height: 425px;
  margin: 0 0 2em 2em;
  object-fit: cover;
  position: relative;
}

.sectionLabel {
  color: #EF5F43;
  font-weight: 600;
}

button {
  padding: 15px 30px;
  color: black;
  background-color: #A0C814;
  border: none;
  outline: none;
  font-weight: 600;
  font-kerning: none;
  width: fit-content;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #EF5F43;
  color: #FFFFFF;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container > div:first-child {
  position: absolute;
}

#whoarewe-img-column {
  padding: 2em;
  background-color: #FFFFFF;
  text-align: center;
  position: relative;
  width: fit-content;
  /* margin: 20em 0em 0em 70em; */
  top: 350px;
  left: 1100px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.bookmark {
  font-size: 35px;
  color: #EF5F43;
}

.gallery {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.gallery-child {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 3em 2em;
  width: 350px;
  background-color: #FFFFFF;
}

.gallery-child > div > span {
  padding: 0.5em;
  border-radius: 100%;
  background-color: #A0C814;
  font-size: 50px;
  color: white;
}

.gallery > div:nth-child(2) {
  background-color: #A0C814;
}

.gallery > div:nth-child(2) > div > span {
  background-color: #FFFFFF;
  color: #A0C814;
}

#streams {
  margin-top: -50px;
  padding: 0em 3em 3em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stream {
  color: #FFFFFF;
  width: 780px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stream-content {
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap:40px;
}

.stream-content > h2 {
  font-size: 2em;
}

.stream-img {
  height: 500px;
  width: 390px;
  object-fit: cover;
}

.stream-icon {
  border-radius: 100%;
  padding: 1em;
  background-color: #FFFFFF;
  color: #A0C814;
}